body{
background-color: #f2f2f2;
font-family: Arial;
margin: 20px;
}

h1{
color: darkblue;
text-align: center;
}

p{
color: #333;
font-size: 18px;
}

img{
width: 400px;
border-radius: 10px;
}

table{
border-collapse: collapse;
width: 80%;
}

table, th, td{
border: 1px solid black;
}

th{
background-color: lightblue;
}

a{
color: red;
text-decoration: none;
}

ul{
background-color: white;
}

ol{
font-weight: bold;
}
